/*
*   news-part
*/
.news-create{
    margin: 30px;
}
.news_title{
    font-size: 3rem;
    margin: 12px;
    text-align: center;
}
/*
*   create-part
*/

#editor{
    width: 100%;
    margin-bottom: 12px;
    overflow: hidden;
}

#title{
    margin-bottom:12px;
}

#submit{
   width: 14rem;
}
#news_content{
    p{
        font-size: 36px;
    }
    h1{
        font-size:48px;
    }
}
