/*
*   news-part
*/

#news{
    background: gray;
}

.news-create{
    margin: 30px;
}

/*
*   create-part
*/

#editor{
    width: 100%;
    margin-bottom: 12px;
    overflow: hidden;
}

#title{
    margin-bottom:12px;
}

#submit{
   width: 14rem;
}